html {
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/interlaced.png");
}

.header {
    background-color: #ffffff;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: #4aaaa5;

}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777   
}

.imgcontainer  {
    position: relative;
}

.imgtext {
    background-color: #4aaaa5;
    position: absolute;
    color: white;
    bottom: 20px;
    width: 100%;


}
.wrapper {
    padding: 0;
    min-height: 100%;
    margin-bottom: -50px;
}

.push {
    height: 50px;
}

.footer {
    height: 50px;
    background-color: #777777;
    border-top: 8px solid #4aaaa5;
}


