h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: #4aaaa5
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777   
}